.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.tasks-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin-bottom: 10px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: white transparent;
}

.open-modal-btn {
    margin: 10px 0;
}